.7012_1169 { 
	overflow:hidden;
}.e7012_1169 { 
	background-color:rgba(243.00000071525574, 243.00000071525574, 243.00000071525574, 1);
	width:1512px;
	height:1080px;
	position:absolute;
}.e7012_1195 { 
	background-color:rgba(255, 255, 255, 1);
	width:1384px;
	height:962px;
	position:absolute;
	left:64px;
	top:88px;
	border-radius:Symbol(figma.mixed)px;
}.e7012_1173 { 
	color:rgba(110.00000104308128, 110.00000104308128, 110.00000104308128, 1);
	width:276px;
	height:38px;
	position:absolute;
	left:618px;
	top:817px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:-3;
}.e7012_1174 { 
	color:rgba(25.000000409781933, 130.0000074505806, 248.0000004172325, 1);
	width:629px;
	height:39px;
	position:absolute;
	left:441.5px;
	top:720px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:-3;
}.e7012_1176 { 
	width:1512px;
	height:64px;
	position:absolute;
	left:0px;
	top:0px;
}.e7012_1177 { 
	background-color:rgba(255, 255, 255, 1);
	width:1512px;
	height:64px;
	position:absolute;
	left:0px;
	top:0px;
}.e7012_1178 { 
	width:578px;
	height:17px;
	position:absolute;
	left:762px;
	top:23px;
}.e7012_1179 { 
	width:578px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
}.e7012_1180 { 
	color:rgba(110.00000104308128, 110.00000104308128, 110.00000104308128, 1);
	width:73px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e7012_1181 { 
	color:rgba(110.00000104308128, 110.00000104308128, 110.00000104308128, 1);
	width:91px;
	height:17px;
	position:absolute;
	left:97px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e7012_1182 { 
	color:rgba(25.000000409781933, 130.0000074505806, 248.0000004172325, 1);
	width:91px;
	height:17px;
	position:absolute;
	left:212px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e7012_1183 { 
	color:rgba(110.00000104308128, 110.00000104308128, 110.00000104308128, 1);
	width:85px;
	height:17px;
	position:absolute;
	left:327px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e7012_1184 { 
	color:rgba(110.00000104308128, 110.00000104308128, 110.00000104308128, 1);
	width:47px;
	height:17px;
	position:absolute;
	left:436px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e7012_1185 { 
	color:rgba(110.00000104308128, 110.00000104308128, 110.00000104308128, 1);
	width:71px;
	height:17px;
	position:absolute;
	left:507px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e7012_1186 { 
	width:151px;
	height:30px;
	position:absolute;
	left:64px;
	top:17px;
}.e7012_1187 { 
	background-image:linear-gradient(0deg, rgba(255, 159.0000057220459, 56.000000461936, 1) 0%,rgba(254.00000005960464, 92.00000211596489, 68.00000354647636, 1) 100%) ;
	width:24px;
	height:22px;
	position:absolute;
	left:0px;
	top:4px;
}.e7012_1188 { 
	color:rgba(61.00000016391277, 61.00000016391277, 61.00000016391277, 1);
	width:117px;
	height:30px;
	position:absolute;
	left:34px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e7012_1189 { 
	width:60px;
	height:32px;
	position:absolute;
	left:1388px;
	top:16px;
}.e7012_1190 { 
	width:60px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}.e7012_1191 { 
	width:60px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}.e7012_1192 { 
	border-radius:500px;
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/ellipse_1878.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e7012_1193 { 
	transform: rotate(90.00000250447808deg);
	width:16px;
	height:15.999999046325684px;
	position:absolute;
	left:60px;
	top:8.000000953674316px;
}.i7012_1193_2_142 { 
	border:1.5px solid rgba(61.00000016391277, 61.00000016391277, 61.00000016391277, 1);
}.ei7012_1193_2_142 { 
	width:5px;
	height:10px;
	position:absolute;
	left:6px;
	top:2.6666665077209473px;
}.e7012_1196 { 
	width:679px;
	height:456px;
	position:absolute;
	left:410px;
	top:206px;
	background-image:url(images/screenshot_2023_07_25_at_12_51_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}